<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>IVO para</title>
        <meta name="description" content="Sistema de carteleras digitales">
        <meta name="author" content="Iyata">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- icons -->
        <link rel="shortcut icon" href="/public/favicon/favicon.ico">
        <link rel="icon" sizes="192x192" type="image/png" href="/public/favicon/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon-180x180.png">

        <!-- scripts -->
        <script src="/src/assets/js/jquery-3.3.1.min.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>

        <!-- style -->
        <link rel="stylesheet" href="/src/assets/css/style.css?v=1">
    </head>
    <body>
        <div class="container" id="ivo_carousel">
            <div id="status_point">
                <span class="status_span bg-danger">&nbsp;</span>
            </div>
        </div>
        <script type="text/javascript" src="/src/assets/js/carousel.js"></script>
    </body>
</html>